<mat-toolbar>

  <div class="hide-on-l hide-on-xl">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <section class="icon" routerLink="/">
    <img src="../../../assets/icons/boreg.svg" alt="Boreg">
  </section>

  <section class="la-user-section hide-on-xs hide-on-s hide">
    <ul class="navigation-items">
      <li>
        <button routerLink="/register" *ngIf="!isLoggedIn && this.route && this.route.url !== '/register'">Create
          Account</button>
      </li>
      <li>
        <button routerLink="/login" *ngIf="!isLoggedIn && this.route && this.route.url !== '/login'">Log In</button>
      </li>

      <li>
        <button routerLink="/games" *ngIf="isLoggedIn">Rate games</button>
      </li>

      <li>
        <button routerLink="/games/recommendations" *ngIf="isLoggedIn && enoughRatings">Games</button>
      </li>

      <li>
        <button routerLink="/" (click)="logout()" *ngIf="isLoggedIn">
          <mat-icon matTooltip="Logout">power_settings_new</mat-icon>
        </button>
      </li>
    </ul>
  </section>

</mat-toolbar>