<mat-toolbar>

  <div class="hide-on-l hide-on-xl">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <section class="icon" routerLink="/">
    <img src="../../../assets/icons/boreg.svg" alt="Boreg">
  </section>

  <section class="la-user-section hide-on-xs hide-on-s hide">
    <ul class="navigation-items">
      <li>
        <button routerLink="/register" *ngIf="!isLoggedIn && this.route && this.route.url !== '/register'">Create
          Account</button>
      </li>
      <li>
        <button routerLink="/login" *ngIf="!isLoggedIn && this.route && this.route.url !== '/login'">Log In</button>
      </li>

      <li>
        <button routerLink="/games" *ngIf="isLoggedIn">Rate games</button>
      </li>

      <li>
        <button routerLink="/games/recommendations" *ngIf="isLoggedIn && enoughRatings">Games</button>
      </li>

      <li>
        <button [matMenuTriggerFor]="menu" class="secondary" *ngIf="isLoggedIn">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item routerLink="/games/user-ratings">
            <mat-icon>stars</mat-icon>
            <span>Your Ratings</span>
          </button>
          <button mat-menu-item routerLink="/" (click)="logout()">
            <mat-icon matTooltip="Logout">power_settings_new</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </li>
    </ul>
  </section>

</mat-toolbar>