@import "../colors.scss";

mat-sidenav-content, mat-sidenav-container, mat-sidenav {
  height: 100%;
  background-color: $background;
}

mat-sidenav {
  width: 250px;
}

app-header {
  width: 100%;
  position: absolute;
  z-index: inherit;
}

router-outle {
  height: 100%;
}