.card {
  margin: 1rem 0.5rem;
  border-radius: 10px;
  min-width: 12rem;

  .image {
    display: flex;
    
    img {
      border-radius: 10px 10px 0 0;
      height: 10rem;
  }
  }
}
.mat-card-content {
  height: 8rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.liked {
  color: green;
}

.disliked {
  color: red;
}

.activatedDetails:hover {
  background-color: rgb(228, 228, 228);
  cursor: pointer;
  transform: scale(.99);
}

.activatedDetails:active {
  background-color: rgb(204, 204, 204);
  cursor: pointer;
  transform: scale(.98);
}




@media only screen and (min-width: 768px) {
  .card {
    width: 18rem;
    margin: 1rem;
  }
}