<div class="flare-dots hide-on-s hide-on-xs">
  <img src="./../../assets/images/flare-dark-five-dots.svg" alt="">
</div>
<div class="flare-middle hide-on-s hide-on-xs">
  <img src="./../../assets/images/flare-dark-middle.svg" alt="">
</div>

<div class="wrapper">
  <div class="component">
    <form [formGroup]="loginForm" (ngSubmit)="login()">

      <h1>Login</h1>

      <section class="input-section">
        <label for="username">Username</label>
        <input id="username" type="text" name="username" autofocus autocomplete="username" formControlName="username">
      </section>

      <section class="input-section">
        <label for="password">Password</label>
        <input id="password" type="password" name="password" autofocus autocomplete="current-password"
          formControlName="password">
      </section>

      <section *ngIf="error" class="error-section">
        <span>Check your Username and Password.</span>
      </section>

      <section class="action-section">
        <button class="primary" autofocus type="submit">Log In</button>
      </section>

    </form>
  </div>
</div>