@import '../../../colors.scss';

.container {
  height: 100%;
  margin-bottom: 3rem;

  .top {
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .slogan {
    font-style: normal;
    font-weight: bolder;
    padding: 2rem;
    font-size: 2.5rem;
    line-height: 2.6rem;

    .button {
      margin: 1rem 0;
      font-size: 24px;
    }
  }

  .image {
    z-index: -1;
  }

  .flare.corner {
    position: absolute;
    top: 0;
    left: 0;
    width: 90vw;
    z-index: -1;
  }
  .flare.dots {
    position: absolute;
    right: 8rem;
    top: 8rem;
    z-index: -1;
  }
  .flare.long {
    display: hide;
    position: absolute;
    right: 0;
    z-index: -1;
    top: 45rem;
  }



  .info {
    margin: 1rem;
    display: grid;
    place-items: center;

    .info-container {
      margin: 1rem 0.2rem;
      padding: 0.5rem;
      border-radius: 10px;
      background-color: $background2;

      .content {
        font-size: 1.3rem;
        margin-left: 2rem;

        .list-item {
          display: flex;

          .item-text {
            margin-left: 0.2rem;
          }
        }
      }

      .icon {
        display: flex;
        .mat-icon, img {
          height: 3rem;
          width: 3rem;
          font-size: 3rem;
          margin-right: 0.5rem;
        }
      }
    }


  }
}