@import "../../../colors.scss";


.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
}

.component {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  .image {
    background-color: $accent;
    display: flex;
    border-radius: 10px 0px 0px 10px;
  }
  
  form {
    flex: 0 1 400px; /*  No stretching: */
    border-radius: 0px 10px 10px 0px;

    h1 {
      padding: 30px;
      font-weight: bold;
    }

    .input-section {
      padding: 15px 50px 0px 20px;
    }

    .action-section {
      padding: 100px 20px 20px 0;
    }
  }
}



.flare-dots {
  position: absolute;
  z-index: -1;
}

.flare-middle {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}