<div class="container">
  <div class="blue-flare">
    <img src="./../../assets/images/blue-flare.svg" alt="">
  </div>
  <div class="rose-flare">
    <img src="./../../assets/images/rose-flare.svg" alt="">
  </div>
  <div class="slogan">
    Find new Board Games you will love!
    <div>
      <button class="button primary" (click)="letsGo()">Lets Go!</button>
    </div>
  </div>
  <div class="image">
    <img style="height: 100%; width: 100%;" src="../../../assets/images/game-illustration.png" alt="">
  </div>
</div>