<div class="container">
  <div class="flare-corner">
    <img src="./../../assets/images/flare-corner.svg" alt="">
  </div>
  <div class="flare-dots">
    <img src="./../../assets/images/flare-three-dot.svg" alt="">
  </div>
  <div class="flare-long">
    <img src="./../../assets/images/flare-long.svg" alt="">
  </div>
  <div class="slogan">
    Find new Board Games you will love!
    <div>
      <button class="button primary" (click)="letsGo()">Lets Go!</button>
    </div>
  </div>
  <img class="image" src="../../../assets/images/game-illustration.png" alt="">
</div>
<div class="slogan">
  <div class="flare-large-dot">
    <img src="./../../assets/images/flare-large-dot.svg" alt="">
  </div>
  <p class="text">
    Tell us what board games you like and what categorys you like and we recommend you board games you really like!
  </p>
</div>