.container {
  height: 100%;
  width: 100%;
  display: flex;

  
  .slogan {
    position: absolute;
    width: 711px;
    height: 148px;
    left: 10vw;
    top: 40vh;

    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 66px;

    .button {
      font-size: 24px;
    }
  }

  .image {
  position: absolute;
  right: 5%;
  z-index: -1;
  width: auto;
  max-height: 80vh;
  }

  .blue-flare {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .rose-flare {
    position: fixed;
    width: 432px;
    height: 487px;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}