<div class="container">
  <div class="flare corner hide-on-xs hide-on-s">
    <img src="./../../assets/images/flare-corner.svg" alt="">
  </div>
  <!-- <div class="flare dots hide-on-xs hide-on-s">
    <img src="./../../assets/images/flare-three-dot.svg" alt="">
  </div>
  <div class="flare long hide-on-xs hide-on-s">
    <img src="./../../assets/images/flare-long.svg" alt="">
  </div> -->
  <div class="row">
    <div class="hide-on-s hide-on-xs col-1 col-l-2"></div>
    <div class="slogan col-7 col-l-5">
      Find new Board Games you will love!
      <div>
        <button class="primary button" (click)="letsGo()">Lets Go!</button>
      </div>
    </div>
    <img class="image col-4 col-l-6 hide-on-xs hide-on-s" src="../../../assets/images/game-illustration.png" alt="">
  </div>
</div>