.container {
  height: 100vh;
  
  .slogan {
    position: absolute;
    width: 711px;
    height: 148px;
    left: 10vw;
    top: 40vh;

    font-style: normal;
    font-weight: bolder;
    font-size: 54px;
    line-height: 66px;

    .button {
      font-size: 24px;
    }
  }

  .image {
  position: absolute;
  right: 5%;
  top: 11rem;
  z-index: -1;
  width: auto;
  max-height: 80vh;
  }

  .flare-corner {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .flare-dots {
    position: absolute;
    right: 8rem;
    top: 8rem;
    z-index: -1;
  }
  .flare-long {
    position: absolute;
    right: 0;
    z-index: -1;
    top: 50rem;
  }
}

.slogan {
  
  .text {
    font-weight: 600;
    font-size: larger;
  }
}
