@import "../../../../colors.scss";

.wrapper {
  margin-top: 4rem;
  padding: 0 0.25rem;
}


.top-section {

  img {
    width: 100%;
    border-radius: 10px;
  }

  .game-info {
    padding-left: 1rem;

    .info-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .info-card {
        padding: 0.5rem 1rem;
        display: flex;
        margin: 0.5rem;
        flex-direction: column;
        align-items: center;
        background: $background2;
        border-radius: 10px;
        justify-content: center;
        transition: background-color .3s;
      }
      .link {
        cursor: pointer;
        &:hover {
          background: darken( $background2, 10% );
        }
      }
    }

    .external-container {
      padding: 0.5rem 1rem;
      display: flex;
      margin: 0.75rem 0.5rem;
      flex-direction: column;
      background: $background2;
      border-radius: 10px;
      max-width: 20rem;

      .title {
        display: flex;
        margin-bottom: 1rem;
        img {
          width: 3rem;
        }
        h3 {
          margin: auto 1rem;
        }
      }

      .info-row {
        display: flex;
        padding: 0.5rem;
        border-radius: 10px;
        mat-icon {
          margin-right: 0.5rem;
        }
      }
    }
  }

  .link {
    cursor: pointer;
    transition: background-color .3s;
    &:hover {
      background: darken( $background2, 10% );
    }
  }

  .actions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1rem 0;

    mat-icon {
      font-size: 3rem;
    }

    .buttons {
      margin-top: 1rem;
      align-self: center;
    }
  }

}

.description-section {
  padding: 0.5rem;
  margin: 0.5rem;
  margin-bottom: 3rem;
  
  .long-description {
    display: none;
  }
  
}




.game-section {
  margin: 5rem 0;
  padding: 0.5rem;
  background-color: $background2;
  border-radius: 10px;

  .game-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
}


@media only screen and (min-width: 768px) {
  .wrapper {
    padding: 2rem;
  }

  .top-section {
    padding: 2rem;
    
    .actions {
      .buttons {
        margin-top: 2rem;
        align-self: flex-end;
      }
    }
  }

  .description-section {
    padding: 0 3rem;

    .short-description {
      display: none;
    }
  
    .long-description {
      display: flex;
    }
  }


}