<div class="wrapper row">

  <section class="top-section row" *ngIf="game">
    <div class="image col-3">
      <img [src]="game.imageUrl" [alt]="game.name">
    </div>

    <div class="game-info col-7">
      <h1>{{ game.name }} <span *ngIf="game.yearPublished && game.yearPublished > 0">({{ game.yearPublished }})</span>
      </h1>

      <div class="info-list">
        <div class="info-card" *ngFor="let info of gameInfos" [matTooltip]="info.description || ''"
          (click)="clickOnInfo(info)" [ngClass]="{'link': info.link }">
          <mat-icon>{{ info.icon }}</mat-icon>
          <div class="text">{{ info.text }}</div>
        </div>
      </div>

      <div class="external-container" *ngIf="bgaInfos.length > 0">
        <div class="title">
          <img
            src="https://image.winudf.com/v2/image1/Y29tLmF0bGFzYWxwaGEuYm9hcmRnYW1lYXRsYXNfaWNvbl8xNTYyODU4NjE4XzA4NA/icon.png?w=170&fakeurl=1"
            alt="">
          <span class="text">
            Board Game Atlas
          </span>
        </div>
        <div class="info-row" *ngFor="let info of bgaInfos" [ngClass]="{'link': info.link }"
          (click)="clickOnInfo(info)">
          <mat-icon>{{ info.icon }}</mat-icon>
          <span>{{ info.text }}</span>
        </div>
      </div>

      <div class="external-container" *ngIf="bggInfos.length > 0">
        <div class="title">
          <img src="https://pbs.twimg.com/profile_images/1158829646370226176/A2xzJhSc_400x400.jpg" alt="">
          <span class="text">
            Board Game Geek
          </span>
        </div>
        <div class="info-row" *ngFor="let info of bggInfos" [ngClass]="{'link': info.link }"
          (click)="clickOnInfo(info)">
          <mat-icon>{{ info.icon }}</mat-icon>
          <span>{{ info.text }}</span>
        </div>
      </div>


      <div class="external-container" *ngIf="game && game.onlineGames && game.onlineGames.length > 0">
        <div class="title">
          <div class="text">
            Play this game online!
          </div>
        </div>
        <div class="info-row link" *ngFor="let onlinegame of game.onlineGames" (click)="clickOnOnlinegame(onlinegame)">
          <img class="online-game"
            [src]="onlinegame.origin === 'Yucata' ? 'https://www.yucata.de/bundles/images/Logo.jpg' : 'https://steamcdn-a.akamaihd.net/steam/apps/402560/logo.png?t=1596691394'"
            alt="">
          <span>Play {{ onlinegame.name }} on {{ onlinegame.origin }}</span>
        </div>
      </div>

    </div>

    <div class="actions col-2">
      <app-star-rating [numStars]="10" [rating]="rating" (rated)="rate($event)">
      </app-star-rating>
      <div class="buttons"><button class="primary" (click)="goToAmazon()">Amazon</button></div>
    </div>

  </section>

  <section class="info-section row" *ngIf="game">
    <details class="short-description">
      <summary>Categories, Designers, Game Mechanics and Publisher</summary>
      <div class="content">


        <div class="info-row" *ngIf="game.author">
          <img *ngFor="let author of game.author" [src]="author.imageUrl" alt="" class="hide hide-on-s hide-on-xs">
          <div>Designers:</div>
          <div class="chip-row">
            <span class="chip" *ngFor="let author of game.author">
              {{ author.name }}
            </span>
          </div>
        </div>

        <div class="info-row" *ngIf="game.category">
          <div>Categories:</div>
          <div class="chip-row">
            <span class="chip" *ngFor="let category of game.category">
              {{ category.name }}
            </span>
          </div>
        </div>

        <div class="info-row" *ngIf="game.gameMechanic">
          <div>Game Mechanics:</div>
          <div class="chip-row">
            <span class="chip" *ngFor="let mechanic of game.gameMechanic">
              {{ mechanic.name }}
            </span>
          </div>
        </div>


        <div class="info-row" *ngIf="game.publisher">
          <div>Publisher:</div>
          <div class="chip-row">
            <span class="chip" *ngFor="let publisher of game.publisher">
              {{ publisher.name }}
            </span>
          </div>
        </div>

      </div>
    </details>
  </section>

  <section class="description-section row" *ngIf="game && game.description">
    <div class="hide hide-on-s hide-on-xs">
      <h2>Description</h2>
      <p>{{ game.description }}</p>
    </div>

    <details class="hide-on-l hide-on-xl">
      <summary>Description</summary>
      <p class="content">
        {{ game.description }}
      </p>
    </details>
  </section>

</div>