<div class="wrapper row">

  <section class="top-section row" *ngIf="game">
    <div class="image col-3">
      <img [src]="game.imageUrl" [alt]="game.name">
    </div>

    <div class="game-info col-7">
      <h1>{{ game.name }} <span *ngIf="game.yearPublished && game.yearPublished > 0">({{ game.yearPublished }})</span>
      </h1>

      <div class="info-list">
        <div class="info-card" *ngFor="let info of gameInfos" [matTooltip]="info.description || ''"
          (click)="clickOnInfo(info)" [ngClass]="{'link': info.link }">
          <mat-icon>{{ info.icon }}</mat-icon>
          <div class="text">{{ info.text }}</div>
        </div>
      </div>

      <div class="external-container" *ngIf="bgaInfos.length > 0">
        <div class="title">
          <img
            src="https://image.winudf.com/v2/image1/Y29tLmF0bGFzYWxwaGEuYm9hcmRnYW1lYXRsYXNfaWNvbl8xNTYyODU4NjE4XzA4NA/icon.png?w=170&fakeurl=1"
            alt="">
          <h3>Board Game Atlas</h3>
        </div>
        <div class="info-row" *ngFor="let info of bgaInfos" [ngClass]="{'link': info.link }"
          (click)="clickOnInfo(info)">
          <mat-icon>{{ info.icon }}</mat-icon>
          <span>{{ info.text }}</span>
        </div>
      </div>

      <div class="external-container" *ngIf="bggInfos.length > 0">
        <div class="title">
          <img src="https://pbs.twimg.com/profile_images/1158829646370226176/A2xzJhSc_400x400.jpg" alt="">
          <h3>Board Game Geek</h3>
        </div>
        <div class="info-row" *ngFor="let info of bggInfos" [ngClass]="{'link': info.link }"
          (click)="clickOnInfo(info)">
          <mat-icon>{{ info.icon }}</mat-icon>
          <span>{{ info.text }}</span>
        </div>
      </div>

    </div>

    <div class="actions col-2">
      <app-star-rating [numStars]="10" [rating]="rating" (rated)="rate($event)">
      </app-star-rating>
      <div class="buttons"><button class="primary" (click)="goToAmazon()">Amazon</button></div>
    </div>

  </section>

  <section class="description-section row" *ngIf="game && game.description">
    <h2>Description</h2>
    <p class="long-description">{{ game.description }}</p>
    <div class="short-description">
      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header collapsedHeight="80px" expandedHeight="30px">
          <mat-panel-title>
            <div>{{ game.description }}</div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        {{ game.description }}
      </mat-expansion-panel>
    </div>
  </section>

  <section class="game-section row" *ngIf="onlineGames.length > 0">
    <h2>Corresponding online games</h2>
    <div class="game-list">
      <app-game-card [game]="game" *ngFor="let game of onlineGames" [deactivateRating]="true"></app-game-card>
    </div>
  </section>

</div>