@import "../../../colors.scss";


.wrapper {
  background-color: $accent;
  height: 100%;
  display: flex;
  align-items: center;
}

.component {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  
  form {
    margin: 1rem;

    h1 {
      padding: 1rem 0 0 1.5rem;
      font-weight: bold;
    }
  }
}

.flare-dots {
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
}

.flare-middle {
  z-index: -1;
  position: absolute;
  right: 0;
  bottom: 0;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    background-color: $background;
  }

  form {
    margin: 0;
    flex: 0 1 500px;
  }
}