@import "../../../colors.scss";


.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
}

.component {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  
  form {
    flex: 0 1 500px; /*  No stretching: */
  }
}

.flare-dots {
  z-index: -1;
  position: absolute;
}

.flare-middle {
  z-index: -1;
  position: absolute;
  right: 0;
  bottom: 0;
}