$background: #ffffff;
$background2: #d1e3f1;
$input-background: #fefeff;
$primary:#FF8A1F;
$accent: #0D8ABC;
$font-color: #000000;
$on-primary-font: #000000;


/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
    50 : #fff1e4,
    100 : #ffdcbc,
    200 : #ffc58f,
    300 : #ffad62,
    400 : #ff9c41,
    500 : #ff8a1f,
    600 : #ff821b,
    700 : #ff7717,
    800 : #ff6d12,
    900 : #ff5a0a,
    A100 : #ffffff,
    A200 : #fff8f5,
    A400 : #ffd3c2,
    A700 : #ffc1a8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-accent: (
    50 : #e2f1f7,
    100 : #b6dceb,
    200 : #86c5de,
    300 : #56add0,
    400 : #319cc6,
    500 : #0d8abc,
    600 : #0b82b6,
    700 : #0977ad,
    800 : #076da5,
    900 : #035a97,
    A100 : #c2e3ff,
    A200 : #8fcbff,
    A400 : #5cb3ff,
    A700 : #42a7ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

