@import "./colors.scss";
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$board-game-recommender-primary: mat-palette($md-primary);
$board-game-recommender-accent: mat-palette($md-accent, A200, A100, A400);

// The warn palette is optional (defaults to red).
$board-game-recommender-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$board-game-recommender-theme: mat-light-theme((
  color: (
    primary: $board-game-recommender-primary,
    accent: $board-game-recommender-accent,
    warn: $board-game-recommender-warn,
  )
));


$custom-typography: mat-typography-config(
  $font-family: 'Montserrat',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);
// Override the typography in the core CSS.
@include mat-core($custom-typography);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($board-game-recommender-theme);





//----------------------------------*\
// Fonts
//----------------------------------*/
@import 'assets/scss/modules/_fonts.scss';
// primary font
$primary_font: 'Montserrat';
// font-weight
$thin:100;
$extraLight:200;
$light:300;
$regular:400;
$medium:500;
$semiBold:600;
$bold:700;
$extraBold:800;
$black:900;
// Font size
$font-xs:12px;
$font-sm: 14px;
$primary-fs: 16px;
$font-md: 18px;
$font-lg: 20px;

h1, h2, h3 {
  font-weight: bolder;
}


@import "./media-query.scss";

// General CSS settings
body {
  margin: 0px;
  height: 100%;
  box-sizing: border-box;
  background: $background;
  font-family: $primary_font;
  font-size: $primary-fs;
  font-weight: $regular;
}

button {
  color: $primary;
  border: none;
  width: fit-content;
  background: #ffffff00;
  padding: 10px 20px;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 10px;
  white-space: nowrap;

  .mat-icon {
    vertical-align: bottom;
  }
}

button.secondary {
  background: $input-background;
  color: $font-color;
}

button.primary {
  background: $primary;
  color: $on-primary-font;
}


button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(.95);
}

button:disabled,
button[disabled]{
  background-color: #cccccc;
  color: #868686;
  cursor: auto;
  &:active {
    transform: scale(1);
  }
}


.input-section {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;

  input, .input {
    color: $font-color;
    padding: 0.7rem;
    border: 2px solid #868686;
    background: $input-background;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
  }
  
  input:focus, .input:focus {
    outline: none;
    border: 2px $primary solid;
  }

  label {
    padding: 0.5rem;
  }
}

form {
  width: 100%;
  height: 100%;
  background: $background2;
  color: $font-color;
  border-radius: 10px;

  .error-section {
    color: red;
    padding: 0.5rem 1rem;
  } 
  
  .action-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem 1rem;
  }
}



details {
  summary {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 1rem;
    background-color: $background2;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color .3s;
  
    &:hover {
      background: darken( $background2, 10% );
    }
    
    &:focus {
      outline: none;
    }
  }
  
  .content {
    background-color: $background2;
    padding: 1rem;
    border-radius: 0 0 10px 10px;
  }  
}

details[open] summary {
  border-radius: 10px 10px 0 0;
}

details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  from {
    opacity: 0;
    margin-top: -10px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}



* {
  font-family: Montserrat;
}
*, *:before, *:after {
  box-sizing: border-box;
}


html {
  height: 100%;
  margin: 0;
}