//----------------------------------*\
// Fonts
//----------------------------------*/
@import 'assets/scss/modules/_fonts.scss';
// primary font
$primary_font: 'Montserrat';
// font-weight
$thin:100;
$extraLight:200;
$light:300;
$regular:400;
$medium:500;
$semiBold:600;
$bold:700;
$extraBold:800;
$black:900;
// Font size
$font-xs:12px;
$font-sm: 14px;
$primary-fs: 16px;
$font-md: 18px;
$font-lg: 20px;


@import "./colors.scss";
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$board-game-recommender-primary: mat-palette($mat-amber, A200, A100, A400);
$board-game-recommender-accent: mat-palette($mat-blue, A200, A100, A400);

// The warn palette is optional (defaults to red).
$board-game-recommender-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$board-game-recommender-theme: mat-light-theme((
  color: (
    primary: $board-game-recommender-primary,
    accent: $board-game-recommender-accent,
    warn: $board-game-recommender-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($board-game-recommender-theme);

// @font-face {
//   font-family: "Montserrat";
//   src: local("Montserrat"), url(./assets/fonts/Montserrat/Montserrat-Regular.ttf) format("truetype");
// }

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
    $custom-typography: mat-typography-config(
    $font-family:   'Montserrat',
    $display-4:     mat-typography-level(112px, 112px, 300),
    $display-3:     mat-typography-level(56px, 56px, 400),
    $display-2:     mat-typography-level(45px, 48px, 400),
    $display-1:     mat-typography-level(34px, 40px, 400),
    $headline:      mat-typography-level(24px, 32px, 400),
    $title:         mat-typography-level(20px, 32px, 500),
    $subheading-2:  mat-typography-level(16px, 28px, 400),
    $subheading-1:  mat-typography-level(15px, 24px, 400),
    $body-2:        mat-typography-level(14px, 24px, 500),
    $body-1:        mat-typography-level(14px, 20px, 400),
    $caption:       mat-typography-level(12px, 20px, 400),
    $button:        mat-typography-level(14px, 14px, 500),
    $input:         mat-typography-level(inherit, 1.125, 400)
);

@include mat-base-typography($custom-typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);

@include mat-core($custom-typography);


body {
  margin: 0px;
  height: 100%;
  background: $background;
  font-family: $primary_font;
  font-size: $primary-fs;
  font-weight: $regular;
}

button {
  color: $primary;
  border: none;
  width: fit-content;
  background: #ffffff00;
  padding: 10px 20px;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 10px;
}

button.secondary {
  background: $input-background;
  color: $font-color;
}

button.primary {
  background: $primary;
  color: $on-primary-font;
}


button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(.95);
}


form {
  width: 100%;
  height: 100%;
  background: $background2;
  color: $font-color;
  border-radius: 10px;

  .input-section {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;

    label {
      padding: 0.5rem;
    }

    input {
      color: $font-color;
      padding: 0.7rem;
      border: 2px solid $input-background;
      background: $input-background;
      border-radius: 10px;
    }

    input:focus {
      outline: none;
      border: 2px $accent solid;
    }
  }

  .error-section {
    color: red;
    padding: 0.5rem 1rem;
  } 
  
  .action-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem 1rem;
  }
}
*{
  font-family: Montserrat;
}
html { height: 100%; }
