<div class="wrapper row">

  <section class="search-section row" *ngIf="!isLoading">
    <h2>Give&nbsp;{{ (5 - ratings.length) < 0 ? 0 : 5 - ratings.length }}&nbsp;games you like or dislike</h2>
        <div class="input-section col-xl-4">
          <label for="search">Search for games</label>
          <span class="input-line">

            <input matInput class="search-input" type="text" autofocus placeholder="Search..."
              [formControl]="searchControl">

            <div [matTooltip]="'Please rate at least' + (5 - ratings.length) + ' more games'"
              [matTooltipDisabled]="ratings.length >= 5">
              <button class="primary" [disabled]="ratings.length < 5" (click)="next()">
                Next <mat-icon>chevron_right</mat-icon>
              </button>
            </div>
          </span>
        </div>
  </section>

  <section class="game-list row">
    <ng-container *ngIf="!isLoading">
      <div *ngFor="let game of filteredGames | async">
        <app-game-card [game]="game" [rating]="getRatingForGame(game.id)">
        </app-game-card>
      </div>
    </ng-container>
  </section>

  <section class="loading" *ngIf="isLoading">
    <h2>Give us a second, we are loading all the greate games.</h2>
    <app-loading></app-loading>
  </section>

</div>