@import "../../../../colors.scss";

.wrapper {
  margin-top: 4rem;
}

::ng-deep .mat-expansion-panel-content > .mat-expansion-panel-body, mat-expansion-panel, .mat-expansion-panel, .mat-expansion-panel-header:hover {
  border-radius: 10px;
  background-color: $background2;
}

.filter {
  .num-input {
    display: flex;
    align-self: center;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
  }
}

.filter-actions {
  text-align: center;
  margin: 1rem 0;
}

.game-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  background: $background;

  ::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
  }
  /* Optional: show position indicator in red */
  ::-webkit-scrollbar-thumb {
      background: transparent;
 }
}


.loading {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media only screen and (min-width: 768px) {
  .wrapper {
    padding: 1rem;
  }

  .filter-section {
    padding: 1rem 0;
  }

  .game-section {
    float: right;
    padding: 1rem;
    ::-webkit-scrollbar {
      width: 0px;  /* Remove scrollbar space */
      background: transparent;  /* Optional: just make scrollbar invisible */
      height: 0.5rem;
    }
    /* Optional: show position indicator in red */
    ::-webkit-scrollbar-thumb {
        background: $background2;
        border-radius: 10px;
   }

    .game-row {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      overflow-x: auto;
      background: $background;
    }
  }


  .mat-expansion-panel-header {
    display: none;
  }
}