<div class="wrapper">

  <header>
    <section class="sm-user-section">
      <img src="../../../assets/icons/icon-menu.svg" alt="Menu" width="24" height="24">
    </section>
    <section class="icon" (click)="goToHome()">
      <img src="../../../assets/icons/boreg.svg" alt="Boreg">
    </section>
    <section class="la-user-section">
      <button (click)="goToSignup()" *ngIf="!isLoggedIn">Create Account</button>
      <button class="primary" (click)="goToSignin()" *ngIf="!isLoggedIn">Log In</button>
      <button (click)="logout()" *ngIf="isLoggedIn">Sign Out</button>
      <button (click)="delete()" *ngIf="isLoggedIn">Delete Me</button>
    </section>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
  </footer>

</div>